/* Global */
*{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

h1, h2{
  font-size: 3em;
  margin: 0;
  padding: 1em 0;
}

button{
  font-size: 2em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #000;
  font-weight: bold;
  background-color: #000;
}

/* Contenedor de la página */
.page__container{
  height: 100vh;
  background-color: #0f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botón para ir al inicio */
.btn__home img{
  width: 1.5em;
}

/* Página de inicio */
.btn__home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: #000000;
  border-radius: 20px 20px 0 0;
  width: 1.7em;
  height: 1.7em;
  font-size: 1.2em;
}

.container{
  width: 28em;
  height: 29.15em;
  background-color: #fff;
  border: 2px solid #000;
  align-items: center;
  flex-direction: column;
}

/* Pantallas */
#home{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #003b00;
}

#home div{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

#maps{
  display: none;
  align-items: center;
  flex-direction: column;
  background-color: #003b00;
}

#maps span{
  font-size: 1.5em;
}

#maps__container{
  display: flex;
  gap: 1em;
}

#maps__container div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: .2em;
  cursor: pointer;
}

#maps img{
  width: 7em;
  border-radius: 5px;
}

.map__a{
  background-color: #f00;
}

.map__b{
  background-color: #000;
}

.map__c{
  background-color: #000;
}

#config{
  display: none;
  align-items: center;
  flex-direction: column;
  background-color: #003b00;
}

#config div{
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

#config div .btn__medium{
  background-color: #f00;
}

#game__over{
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #003b00;
}

#game__over h2{
  font-size: 2em;
  width: 80%;
  text-align: center;
}

/* Botones de movimiento */
.movement_container{
  display: flex;
  justify-content: space-between;
  background-color: #000000bd;
}

.movement_container img{
  width: 2em;
  height: 2em;
}

#btn__left, #btn__right{
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

#btn__left img, #btn__right img{
  pointer-events: none; /* Evita la interacción del usuario con la imagen */
  user-select: none; /* Evita la selección de texto en la imagen */
  -webkit-touch-callout: none; /* Para iOS Safari */
  -webkit-user-drag: none; /* Para iOS Safari */
}

.canvas{
  background-image: url("../assets/images/maps/galaxia.jfif");
  background-size: cover;
  border: 2px solid #000;
  display: none;
}

@media only screen and (max-width:768px){

  .canvas{
    width: calc(100vw - .5em);
    height: 20em;
  }

  .container{
    width: calc(100vw - .5em);
    height: 24.11em;
  }

  #home div{
    padding-top: 3em;
  }

  #maps__container{
  flex-direction: column;
  }

  #maps__container img{
    width: 3.5em;
  }

  #config div{
    flex-direction: column;
    padding-top: 3em;
  }

  h1, h2{
    font-size: 2.5em;
    padding: .4em 0;
  }
}